spring:
  application:
    name: rest
  jpa:
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        highlight_sql: true

logging:
  level:
    org.springframework.orm.jpa.JpaTransactionManager: DEBUG
